<p class="border border-primary p-2 m-2">pipe works!</p>
<p class="border border-primary p-2 m-2">{{username |lowercase}}</p>
<p class="border border-primary p-2 m-2">{{username |uppercase}}</p>
<p class="border border-primary p-2 m-2">{{'We are learning angular'|titlecase }}</p>
<p class="border border-primary p-2 m-2">{{username |slice:2:4}}</p>
<p class="border border-primary p-2 m-2">{{currentdate|date}}</p>
<p class="border border-primary p-2 m-2">{{currentdate|date:'short'}}</p>
<p class="border border-primary p-2 m-2">{{currentdate|date:'fullDate'}}</p>
<p class="border border-primary p-2 m-2">{{ {id:101,name:"A"} |json |lowercase |uppercase }}</p>
<p>{{'XYZ'|length}}</p>




